@model Hospital_Management_System.Models.Ambulance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ambulance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbulanceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbulanceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbulanceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbulanceStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbulanceDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbulanceDriver.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
