@model IEnumerable<Hospital_Management_System.Models.Ambulance>

@{
    ViewData["Title"] = "Index";
}

<div class="container text-center">
    <h1>Ambulences</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmbulanceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmbulanceStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmbulanceDriver)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmbulanceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmbulanceStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmbulanceDriver.Address)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>