@model Hospital_Management_System.Models.Announcement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Announcements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Announcements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnouncementFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnouncementFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
