@model Hospital_Management_System.Models.Prescription

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSpecialization" class="control-label"></label>
                <input asp-for="DoctorSpecialization" class="form-control" />
                <span asp-validation-for="DoctorSpecialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientGender" class="control-label"></label>
                <input asp-for="PatientGender" class="form-control" />
                <span asp-validation-for="PatientGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientAge" class="control-label"></label>
                <input asp-for="PatientAge" class="form-control" />
                <span asp-validation-for="PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalTest1" class="control-label"></label>
                <input asp-for="MedicalTest1" class="form-control" />
                <span asp-validation-for="MedicalTest1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalTest2" class="control-label"></label>
                <input asp-for="MedicalTest2" class="form-control" />
                <span asp-validation-for="MedicalTest2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalTest3" class="control-label"></label>
                <input asp-for="MedicalTest3" class="form-control" />
                <span asp-validation-for="MedicalTest3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalTest4" class="control-label"></label>
                <input asp-for="MedicalTest4" class="form-control" />
                <span asp-validation-for="MedicalTest4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine1" class="control-label"></label>
                <input asp-for="Medicine1" class="form-control" />
                <span asp-validation-for="Medicine1" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning1" /> @Html.DisplayNameFor(model => model.Morning1)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon1" /> @Html.DisplayNameFor(model => model.Afternoon1)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening1" /> @Html.DisplayNameFor(model => model.Evening1)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Medicine2" class="control-label"></label>
                <input asp-for="Medicine2" class="form-control" />
                <span asp-validation-for="Medicine2" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning2" /> @Html.DisplayNameFor(model => model.Morning2)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon2" /> @Html.DisplayNameFor(model => model.Afternoon2)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening2" /> @Html.DisplayNameFor(model => model.Evening2)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning3" /> @Html.DisplayNameFor(model => model.Morning3)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon3" /> @Html.DisplayNameFor(model => model.Afternoon3)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening3" /> @Html.DisplayNameFor(model => model.Evening3)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning4" /> @Html.DisplayNameFor(model => model.Morning4)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon4" /> @Html.DisplayNameFor(model => model.Afternoon4)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening4" /> @Html.DisplayNameFor(model => model.Evening4)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning5" /> @Html.DisplayNameFor(model => model.Morning5)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon5" /> @Html.DisplayNameFor(model => model.Afternoon5)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening5" /> @Html.DisplayNameFor(model => model.Evening5)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning6" /> @Html.DisplayNameFor(model => model.Morning6)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon6" /> @Html.DisplayNameFor(model => model.Afternoon6)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening6" /> @Html.DisplayNameFor(model => model.Evening6)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Medicine7" class="control-label"></label>
                <input asp-for="Medicine7" class="form-control" />
                <span asp-validation-for="Medicine7" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Morning7" /> @Html.DisplayNameFor(model => model.Morning7)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Afternoon7" /> @Html.DisplayNameFor(model => model.Afternoon7)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Evening7" /> @Html.DisplayNameFor(model => model.Evening7)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CheckUpAfterDays" class="control-label"></label>
                <input asp-for="CheckUpAfterDays" class="form-control" />
                <span asp-validation-for="CheckUpAfterDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionAddDate" class="control-label"></label>
                <input asp-for="PrescriptionAddDate" class="form-control" />
                <span asp-validation-for="PrescriptionAddDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorTiming" class="control-label"></label>
                <input asp-for="DoctorTiming" class="form-control" />
                <span asp-validation-for="DoctorTiming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
