@model Hospital_Management_System.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorSpecialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorSpecialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalTest1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalTest1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalTest2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalTest2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalTest3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalTest3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalTest4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalTest4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morning7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morning7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afternoon7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afternoon7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evening7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evening7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckUpAfterDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckUpAfterDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionAddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionAddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorTiming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorTiming)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
